@model IEnumerable<TimeTask.Models.Opening2>

@{
    ViewData["Title"] = "Bilans otwarcia";

    //pierwszy dział
    var firstDepartment = ((IEnumerable<Department>)ViewBag.Department).OrderBy(x => x.Name).FirstOrDefault()?.Name;
    //var firstDepartmentID = ((IEnumerable<Department>)ViewBag.Department).OrderBy(x => x.Name).FirstOrDefault()?.Id;

    //czy są jakiekolwiek działy
    var departmentsLength = ((IEnumerable<Department>)ViewBag.Department).Count();

    var opening = (IEnumerable<Opening2>)ViewBag.Opening;
    //var years = opening.Select(row => row.Year).Distinct().ToList();
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        <partial name="_Settings" />
    </section>
    <section class="right-nav">
        
        <div class="kxOMhDZFzkDb">
            <div class="ECTosDyufuTqvBV">
                @if (departmentsLength > 0)
                {
                    <div class="IVnxgCORpPYL ijBuUPWrdXEngvb" id="rJsRgTkikJFkTVs" onclick="nGgUoVSOQmbYyoD()">
                        <ion-icon name="briefcase-outline"></ion-icon>
                        <div class="iNzvwDsTQXDyPIR" id="OOqVcKNeQkUsMLk">
                            <span>@firstDepartment</span>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </div>
                    
                    if (opening.Count() > 0)
                    {
                        <div class="IVnxgCORpPYL ijBuUPWrdXEngvb" id="rJsRgTkikJFkTVs_" onclick="nGgUoVSOQmbYyoD_()">
                            <ion-icon name="calendar-outline"></ion-icon>
                            <div class="iNzvwDsTQXDyPIR" id="OOqVcKNeQkUsMLk_">
                                <span id="XyEmZnuZzlHkmKi">@DateTime.Now.Year</span>
                                <ion-icon name="chevron-down-outline"></ion-icon>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="YUPrikbkYzkc"></div>

    </section>
</div>

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/OpeningJS.js"></script>
<script type="text/javascript" src="~/js/sorttable2.js"></script>