@using Newtonsoft.Json

@{
    var department = ((IEnumerable<Department>)ViewBag.Departments).OrderBy(x => x.Name).FirstOrDefault();
}

<div class="loader_div iXYXpnpgGMALUNG">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

<div class="IdRKPExyAQSewBL" onscroll="HzvDBbvTRQnGBub(this)" >

    <a class="settings_a" href="@Url.Action("Index", "Home")">
        <ion-icon name="home-outline"></ion-icon>
        <span>Strona główna</span>
    </a>
    <a class="settings_a" onclick="lhkKNaastOkkmMh(this); MkoKdHskxQLfcuP()" id="MkoKdHskxQLfcuP_">
        <ion-icon name="calendar-outline"></ion-icon>
        <div class="settings_a_select">
            <span>Rok</span>
            <span>@DateTime.Now.Year</span>
            <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
    </a>
    <a class="settings_a" onclick="lhkKNaastOkkmMh(this); fssIiZoJOhPhaRO()" id="fssIiZoJOhPhaRO_">
        <ion-icon name="calendar-number-outline"></ion-icon>
        <div class="settings_a_select">
            <span>Tydzień</span>
            <span></span>
            <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
    </a>
    <a class="settings_a" onclick="lhkKNaastOkkmMh(this); jxcqHOZgFmYHYkI()" id="jxcqHOZgFmYHYkI_" dep="@department?.Id">
        <ion-icon name="briefcase-outline"></ion-icon>
        <div class="settings_a_select">
            <span>Dział</span>
            @if (department?.Name == null)
            {
                <span>Brak działów</span>
            }
            else
            {
                <span>@department.Name</span>
            }
            <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
    </a>
    <a class="settings_a" onclick="lhkKNaastOkkmMh(this); ekzMacYlAMvOgoy()" id="ekzMacYlAMvOgoy_">
        <ion-icon name="file-tray-full-outline"></ion-icon>
        <div class="settings_a_select DttiWwFOUZxPakg">
            <span></span>
            <span>Wybierz zadanie</span>
            <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
    </a>
    <a class="settings_a">
        <ion-icon name="copy-outline"></ion-icon>
        <div class="settings_a_select">
            <span></span>
            <span>Powiel grafik</span>
        </div>
    </a>
    <a class="settings_a" id="yrVkwsnBhnYhdqa" onclick="BgMujOvGVhgxcrK()">
        <ion-icon name="download-outline"></ion-icon>
        <div class="settings_a_select">
            <span></span>
            <span>Pobierz grafik</span>
        </div>
    </a>
</div>

<div class="user">
    <a class="settings_a" asp-area="Identity" asp-page="/Account/Manage/Index">
        <ion-icon name="person-outline"></ion-icon>
        <div class="OxavFctgPAvYCMk">
            <span>@User.Identity?.Name?.Split('@')[0]</span>
            <span>Ustawienia konta</span>
        </div>
    </a>
</div>