@using Newtonsoft.Json

@{
    var departmentLenght = ((IEnumerable<Department>)ViewBag.Departments).Count();

    //pierwszy dział
    var firstDepartment = ((IEnumerable<Department>)ViewBag.Departments).OrderBy(x => x.Name).FirstOrDefault()?.Name;
    var firstDepartmentID = ((IEnumerable<Department>)ViewBag.Departments).OrderBy(x => x.Name).FirstOrDefault()?.Id;
}

<div class="loader_div iXYXpnpgGMALUNG">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

<div class="IdRKPExyAQSewBL" onscroll="HzvDBbvTRQnGBub(this)" >

    <a class="settings_a" href="@Url.Action("Index", "Home")">
        <ion-icon name="home-outline"></ion-icon>
        <span>Strona główna</span>
    </a>
    <a class="settings_a" onclick="MkoKdHskxQLfcuP(this)" id="MkoKdHskxQLfcuP_">
        <ion-icon name="calendar-outline"></ion-icon>
        <div class="settings_a_select">
            <span>Rok</span>
            <span>@DateTime.Now.Year</span>
            <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
    </a>
    <a class="settings_a" onclick="fssIiZoJOhPhaRO(this)" id="fssIiZoJOhPhaRO_">
        <ion-icon name="calendar-clear-outline"></ion-icon>
        <span id="OcoYTyiBrpZJStB"></span>
        <div class="settings_a_select">
            <span>Tydzień</span>
            <span></span>
            <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
    </a>

    @if (departmentLenght == 0)
    {
        <a class="settings_a HJfwfKTcBSSFmBp">
            <ion-icon name="briefcase-outline"></ion-icon>
            <div class="settings_a_select">
                <span></span>
                <span>Brak działów</span>
            </div>
        </a>
    }
    else
    {
        <a class="settings_a" onclick="jxcqHOZgFmYHYkI(this, @firstDepartmentID)" id="jxcqHOZgFmYHYkI_">
            <ion-icon name="briefcase-outline"></ion-icon>
            <div class="settings_a_select">
                <span>Dział</span>
                <span>@firstDepartment</span>
                <ion-icon name="chevron-down-outline"></ion-icon>
            </div>         
        </a>
    }

    <a class="settings_a" onclick="ekzMacYlAMvOgoy(this, @firstDepartmentID)" id="ekzMacYlAMvOgoy_">
        <ion-icon name="file-tray-full-outline"></ion-icon>
        <div class="settings_a_select DttiWwFOUZxPakg">
            <span></span>
            <span>Wybierz zadanie</span>
            <ion-icon name="chevron-down-outline" id="uMVdMfTVrITLlKW"></ion-icon>
        </div>
    </a>

    @* <a class="settings_a" id="kSSnezAexZyLwQZ">
        <ion-icon name="copy-outline"></ion-icon>
        <div class="settings_a_select">
            <span></span>
            <span>Powiel grafik</span>
        </div>
    </a> *@

    @* <a class="settings_a" onclick="BgMujOvGVhgxcrK()">
        <ion-icon name="download-outline"></ion-icon>
        <div class="settings_a_select">
            <span></span>
            <span>Pobierz grafik</span>
        </div>
    </a> *@

    <a class="settings_a" onclick="nDYntMlpKcjgONc()">
        <ion-icon name="options-outline"></ion-icon>
        <div class="settings_a_select">
            <span></span>
            <span>Opcje</span>
        </div>
    </a>

    <a class="settings_a" onclick="">
        <ion-icon name="share-outline"></ion-icon>
        <div class="settings_a_select">
            <span></span>
            <span>Udostępnij grafik</span>
        </div>
    </a>

</div>

<div class="user">
    <a class="settings_a" asp-area="Identity" asp-page="/Account/Manage/Index">
        <ion-icon name="person-outline"></ion-icon>
        <div class="OxavFctgPAvYCMk">
            <span>@User.Identity?.Name?.Split('@')[0]</span>
            <span>Ustawienia konta</span>
        </div>
    </a>
</div>