@model IEnumerable<TimeTask.Models.MainSettings>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings");
    </section>
    <section class="right-nav">
        <!--Ustawienia wizualne-->
        <div class="YavvRCMQscelhIs riqhWBvtFoKacNt">

            <!--Włącz tapetę aplikacji-->
            <div class="msdgExEZCpefgcL">
                <label class="FdcnMtAlziKwEep">
                    <input type="checkbox" checked id="nLzkASTGLjvGiSi" onchange="nLzkASTGLjvGiSi_(this)" />
                    <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                </label>
                <span class="hFzZLqJdsEqdlrx">Włącz tapetę</span>

                <label class="msdgExEZCpefgcL">
                    <a class="hFzZLqJdsEqdlrx_" href="@Url.Action("Index", "Wallpaper2")">Wybierz / Dodaj tapetę</a>
                </label>
            </div>

            <!--Kolor tła, jeżeli tapeta będzie wyłączona-->
            <div class="msdgExEZCpefgcL">
                <label class="msdgExEZCpefgcL msdgExEZCpefgcL_disabled">
                    <!--msdgExEZCpefgcL_disabled-->
                    <input type="color" class="inputColor" />
                    <a id="" class="hFzZLqJdsEqdlrx_">Wybierz kolor tła</a>
                </label>
                @* <span class="hFzZLqJdsEqdlrx">Kolor tła</span> *@
            </div>

            <!--Kolor czcionki od świąt w widoku urlopy i czas pracy-->
            <div class="msdgExEZCpefgcL">
                <label class="msdgExEZCpefgcL">
                    <input type="color" class="inputColor" value="orangered" />
                    <a id="" class="hFzZLqJdsEqdlrx_">Wybierz kolor czcionki świąt</a>
                </label>
            </div>

            <!--Mniejszy pasek nawigacyjny-->
            <div class="msdgExEZCpefgcL" style="display: none;">
                <label class="FdcnMtAlziKwEep">
                    <input type="checkbox" id="hQJwclGLiNLiRrQ" onchange="hQJwclGLiNLiRrQ_(this)" />
                    <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                </label>
                <span class="hFzZLqJdsEqdlrx">Mniejszy pasek nawigacyjny (do usuniecia po zmianie left-nav)</span>
            </div>

            <!--Odwróć kolor czcionki-->
            @*<div class="msdgExEZCpefgcL">
                <label class="FdcnMtAlziKwEep">
                    <input type="checkbox" id="SWsLyZvwqDpSdQO" onchange="SWsLyZvwqDpSdQO_(this)" />
                    <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                </label>
                <span class="hFzZLqJdsEqdlrx">Niestandardowy kolor czcionki</span>

                <label class="msdgExEZCpefgcL msdgExEZCpefgcL_disabled">
                    <a id="zaOUenxMdmwGCGR" class="hFzZLqJdsEqdlrx_">Wybierz kolor</a>
                    <input type="color" class="inputColor" value="#ffffff" />
                </label>
                <span id="HfWCJVSWcwekwai" class="hFzZLqJdsEqdlrx__" style="display: none;">Resetuj kolor</span>
            </div>*@

            <!--Zaokrąglone rogi okienek-->
            @*<div class="msdgExEZCpefgcL">
                <label class="FdcnMtAlziKwEep">
                    <input type="checkbox" checked id="TTMVSxbkjvHXBjL" />
                    <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                </label>
                <span class="hFzZLqJdsEqdlrx">Zaokrąglone rogi okienek</span>
            </div>*@

            <!--tydzień zaczyna się od poniedziałku czy niedzieli?-->
            <div class="msdgExEZCpefgcL">
                <span class="hFzZLqJdsEqdlrx">Pierwszy dzień tygodnia</span>
                <select class="form-control bYwPpsleuVCBkPv BJImLBuxjZWNKEI">
                    <option>Poniedziałek</option>
                    <option>Niedziela</option>
                </select>
                <ion-icon name="help-circle"></ion-icon>
            </div>
            <!--wybór widoku w czas pracy i urlopy i...-->
            <div class="msdgExEZCpefgcL">
                <span class="hFzZLqJdsEqdlrx">Widok w Czas Pracy i Urlopy</span>
                <select class="form-control bYwPpsleuVCBkPv BJImLBuxjZWNKEI">
                    <option>Cały rok</option>
                    <option>Miesiąc</option>
                    <option>Okres rozliczeniowy</option>
                </select>
                <ion-icon name="help-circle"></ion-icon>
            </div>

            <!---->
            <div class="msdgExEZCpefgcL">
                <label class="FdcnMtAlziKwEep">
                    <input type="checkbox" id="ZpSoSRpyrSOlvoJ" />
                    <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                </label>
                <span class="hFzZLqJdsEqdlrx">???</span>
            </div>



        </div>
        <!---->


    </section>
</div>

<script type="text/javascript">
    let selected = document.getElementById('settings_sett_over_id');
    selected.classList.add('settings_a_selected');
</script>

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/MainSettings.js"></script>


