@model IEnumerable<TimeTask.Models.Workstations>

@{
    ViewData["Title"] = "Index";

    //pierwszy dział
    var firstDepartment = ((IEnumerable<Department>)ViewBag.Department).OrderBy(x => x.Name).FirstOrDefault()?.Name;
    var firstDepartmentID = ((IEnumerable<Department>)ViewBag.Department).OrderBy(x => x.Name).FirstOrDefault()?.Id;

    //czy są jakiekolwiek działy
    var departmentsLength = ((IEnumerable<Department>)ViewBag.Department).Count();
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        <partial name="_Settings" />
    </section>
    <section class="right-nav">
        <div class="kxOMhDZFzkDb">
            <div class="ECTosDyufuTqvBV">
                @if (departmentsLength > 0)
                {
                    @* @if (Model.Count() > 0)
                    {
                        <div class="IVnxgCORpPYL ijBuUPWrdXEngvb RlREsSaJYGSFniA" onclick="" title="Dodaj nowe stanowisko">
                            <ion-icon name="add-outline"></ion-icon>
                        </div>
                    }
                    else
                    {
                        <div class="IVnxgCORpPYL ijBuUPWrdXEngvb" onclick="xUSjAWmxFhkCiAD()">
                            <ion-icon name="add-outline"></ion-icon>
                            <span>Dodaj nowe stanowisko</span>
                        </div>
                    } *@

                    <div class="IVnxgCORpPYL ijBuUPWrdXEngvb" id="rJsRgTkikJFkTVs" onclick="nGgUoVSOQmbYyoD()">
                        <ion-icon name="briefcase-outline"></ion-icon>
                        <div class="iNzvwDsTQXDyPIR">
                            <span>@firstDepartment</span>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </div>
                }
                else
                {
                    <div class="IVnxgCORpPYL ijBuUPWrdXEngvb zJhewVNxzHJvocN">
                        <span>Dodaj działy, aby móc dodać stanowiska</span>
                    </div>
                }
            </div>

            @if (departmentsLength > 0)
            {
                <div class="IVnxgCORpPYL ijBuUPWrdXEngvb" id="MyRfivjxPqfhHQr" onclick="YENAVVQWwo(@firstDepartmentID)">
                    <ion-icon name="add-outline"></ion-icon>
                    <span>Dodaj nowe stanowisko</span>
                </div>
            }

        </div>

        <div class="YUPrikbkYzkc">

            @* @if (departmentsLength > 0)
            {
                <table class="VUXahzbNUTWtiZa sortable" id="tableId">
                    <thead>
                        <tr>
                            <th style="width: 100px;"><span>ID</span></th>
                            <th><span>Nazwa</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in ((IEnumerable<Workstations>)ViewBag.Workstations).OrderBy(x => x.Name))
                        {

                        }
                    </tbody>
                </table>
            } *@

            
        </div>

    </section>
</div>

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/WorkstationsJS.js"></script>
<script type="text/javascript" src="~/js/sorttable2.js"></script>