@model IEnumerable<TimeTask.Models.Wallpaper2>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        <partial name="_Settings" />
    </section>
    <section class="right-nav">
        <div class="DhOaDlrUqJcgIUx">
            <form class="bSaEpYjaUnwwExg">

                <div class="vYNssMDjXkiqBLO">
                    <label id="jcCdkRVXykGrbBe" style="display: none;">Invalid link!</label>
                </div>

                <div class="form-floating mb-2 CvFOfCxRqEKEFvM">
                    <input class="form-control zyMjnkiLNtYlAAW" id="xoMTaiKaxAoinee" placeholder="Paste link to wallpaper here." />
                    <label class="form-label" id="GTyCoJidzRasoFw">Add wallpaper by putting link here...</label>
                </div>
                <input type="button" id="ZPHuxBbGXtBuQTe" class="btn-custom" value="Add" />
            </form>
        </div>


        @if (Model.Count() != 0)
        {
            <div class="DhOaDlrUqJcgIUx">
                <form class="bSaEpYjaUnwwExg">
                    <div class="TklztUXRygbrLDz">

                        <label>
                            <input type="radio" name="same" id="defaultWallpaper" onchange="changeWallpaper(this)">
                            <span>Default</span>
                            <img src="~/css/img/backgrounds/the-illustration-graphic-consists-of-abstract-background-with-a-blue-gradient-dynamic-shapes-composition-eps10-perfect-for-presentation-background-website-landing-page-wallpaper-vector.jpg" class="uPITXoaTMJUxLzR" />
                        </label>

                        @{ int i = 1; }
                        @foreach (var item in Model)
                        {
                            <label>
                                <input type="radio" name="same" id="customWallpaper_@i" onchange="changeWallpaper(this)">
                                <span>#@i</span>
                                <img src="@item.Link" class="uPITXoaTMJUxLzR" />
                                <a onclick="MVyuHPTvDFWSLCA(this, event)" id="sbkudnsgkdEqpwD" omdBELCmLLFmdFy="@item.Id">
                                    <span>Delete</span>
                                </a>
                            </label>

                            i++;
                        }
                    </div>
                </form>
            </div>
        }
        else
        {
            <div class="DhOaDlrUqJcgIUx">
                <form class="bSaEpYjaUnwwExg">
                    <div class="TklztUXRygbrLDz">
                        <label>
                            <input type="radio" name="same" id="defaultWallpaper" onchange="changeWallpaper(this)" checked>
                            <span>Default</span>
                            <img src="~/css/img/backgrounds/the-illustration-graphic-consists-of-abstract-background-with-a-blue-gradient-dynamic-shapes-composition-eps10-perfect-for-presentation-background-website-landing-page-wallpaper-vector.jpg" class="uPITXoaTMJUxLzR cOAjaWuJVPBGngI" />
                        </label>
                    </div>
                </form>
            </div>
        }
    </section>

</div>

<script type="text/javascript">

    function MVyuHPTvDFWSLCA(t, e){
        e.preventDefault();

        let id_ = t.getAttribute('omdBELCmLLFmdFy');

        $.ajax({
            type: 'POST',
            url: '/Wallpaper2/RemoveWallpaper',
            data: {
                id: id_
            },
            success: function (response)
            {
                //localStorage.removeItem('wallpaper');
                if ($(t).parent().children().eq(2).attr('src') == localStorage.getItem('wallpaper'))
                {
                    localStorage.removeItem('wallpaper');
                }
                location.reload();
            },
            error: function (xhr, status, error)
            {
                console.log('Error adding data:', error);
            }
        });
    };


    let defaultWallpaper = localStorage.getItem('wallpaper');
    if(defaultWallpaper != null){
        $('html').css({
            'background': 'url(' + defaultWallpaper + ')',
            'background-size': 'cover',
            'background-position': 'center'
        });

        let w = document.querySelectorAll('.uPITXoaTMJUxLzR');
        for (let i = 0; i < w.length; i++)
        {
            if ($(w[i]).attr('src') == defaultWallpaper)
            {
                $(w[i]).parent().children().eq(0).prop("checked", true);
                $(w[i]).addClass('cOAjaWuJVPBGngI');
            }
        }
    }
    else {
        $('#defaultWallpaper').prop("checked", true);
        $('#defaultWallpaper').parent().children().eq(2).addClass('cOAjaWuJVPBGngI');
    }

    function changeWallpaper(t) {
        let w = document.querySelectorAll('.uPITXoaTMJUxLzR');
        for(let i = 0; i < w.length; i++){
            $(w[i]).removeClass('cOAjaWuJVPBGngI');
        }

        $(t).parent().children().eq(2).addClass('cOAjaWuJVPBGngI');


        localStorage.setItem('wallpaper', $(t).parent().children().eq(2).attr('src'));
        $('html').css({
            'background': 'url(' + $(t).parent().children().eq(2).attr('src') + ')',
            'background-size': 'cover',
            'background-position': 'center'
        });
    };




    let selected = document.getElementById('RulQCOUeIjlrFpq');
    selected.classList.add('settings_a_selected');

    function isValidHttpUrl(string)
    {
        let url;

        try
        {
            url = new URL(string);
        } catch (_)
        {
            return false;
        }

        return url.protocol === "http:" || url.protocol === "https:";
    }

    function checkURL(url)
    {
        return (url.match(/\.(jpeg|jpg|gif|png)$/) != null);
    }

    $('#ZPHuxBbGXtBuQTe').on('click', function ()
    {
        if (document.getElementById('xoMTaiKaxAoinee').value.length > 0 && isValidHttpUrl(document.getElementById('xoMTaiKaxAoinee').value) && checkURL(document.getElementById('xoMTaiKaxAoinee').value))
        {
            $.ajax({
                type: 'POST',
                url: '/Wallpaper2/AddWallpaper',
                data: {
                    link: document.getElementById('xoMTaiKaxAoinee').value,
                    chosen: false
                },
                success: function (response)
                {
                    location.reload();
                },
                error: function (xhr, status, error)
                {
                    console.log('Error adding data:', error);
                }
            });
        }
        else if (document.getElementById('xoMTaiKaxAoinee').value.length > 0 && !isValidHttpUrl(document.getElementById('xoMTaiKaxAoinee').value))
        {
            $('#xoMTaiKaxAoinee').addClass('SHnDWPzuoAGGIwU');
            $('#jcCdkRVXykGrbBe').show();
        }
        else if (document.getElementById('xoMTaiKaxAoinee').value.length == 0)
        {
            $('#xoMTaiKaxAoinee').addClass('SHnDWPzuoAGGIwU');
            $('#jcCdkRVXykGrbBe').show();
        }
        else {
            $('#xoMTaiKaxAoinee').addClass('SHnDWPzuoAGGIwU');
            $('#jcCdkRVXykGrbBe').show();
        }
    });

    $('#xoMTaiKaxAoinee').on('keyup', function ()
    {
        if (this.value == 0)
        {
            $('#xoMTaiKaxAoinee').removeClass('SHnDWPzuoAGGIwU');
            $('#jcCdkRVXykGrbBe').hide();
        }
    });




</script>

<script type="text/javascript" src="~/js/site.js"></script>