@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings")
    </section>
    <section class="right-nav SHNVXqYepsFyCsw">
        <div class="PeEkAugENvBHbuG">Ustawienia</div>
    </section>
</div>

<script type="text/javascript" src="~/js/site.js"></script>