@model IEnumerable<TimeTask.Models.Task2>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery-ui.min.js"></script>

<div class="parent">
    <section class="left-nav">
        <partial name="_Task" />
    </section>
    <section class="right-nav p-0">
        <div class="grZWUijDhGWKyHd" style="opacity: 0;">          
            <div class="GlpaymKnQLOGAOs">
                <div class="fSJtEaXwJSHzoxW"></div>
            </div>
        </div>
    </section>
</div> 

<script type="text/javascript" src="~/js/TaskJS.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>