@model IEnumerable<TimeTask.Models.Task2>

@{
    ViewData["Title"] = "Grafik";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery-ui.min.js"></script>


<div class="parent">
    <section class="left-nav">
        <partial name="_Task" />
    </section>
    <section class="right-nav p-0">
        <div class="grZWUijDhGWKyHd" style="opacity: 0;">          
            @* <div class="GlpaymKnQLOGAOs">
                <div class="fSJtEaXwJSHzoxW"></div>
            </div> *@

            @* <table class="task_table">
                <thead>
                    <tr>
                        <th>
                            <div class="GJakzZdfXNDmfZz" onclick="GJakzZdfXNDmfZz_()" title="Zablokuj nagłówki">
                                <ion-icon id="lock-closed" name="lock-closed"></ion-icon>
                                <ion-icon id="lock-open" name="lock-open"></ion-icon>
                            </div>
                        </th>
                        <th>
                            <div>
                                <span>Kowalski Jan</span>
                                <span>Ewidencja</span>
                            </div>
                        </th>
                        <th>
                            <div>
                                <span>Nowak Adam</span>
                                <span>Ewidencja</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span>2024-01-01</span>
                            <span>pon.</span>
                        </td>
                        <td>
                            <div class="LwxRoYhfmyzTlGm">
                                <input type="time" onblur="" />
                                <span>-</span>
                                <input type="time" onblur="" />
                                <a class="MNewKOhqZkqNDeJ" onclick="" title="Usuń godziny"><ion-icon name="trash-outline"></ion-icon></a>
                            </div>
                            <div class="AQzCKqmlrQJmxzn">
                                <div class="ZslufbFdcfCIeaW">
                                    <span>Nazwa zadania</span>
                                    <a onclick="" title="Usuń zadanie"><ion-icon name="close"></ion-icon></a>
                                </div>
                            </div>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>2024-01-02</span>
                            <span>wt.</span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <span>2024-01-03</span>
                            <span>śr.</span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <span>2024-01-04</span>
                            <span>czw.</span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <span>2024-01-05</span>
                            <span>pt.</span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <span>2024-01-06</span>
                            <span>sob.</span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <span>2024-01-07</span>
                            <span>nd.</span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table> *@

        </div>
    </section>
</div> 

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/TaskJS.js"></script>