@model IEnumerable<TimeTask.Models.Task2>

@{
    ViewData["Title"] = "Grafik";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
<script src="~/js/tableToExcel.js"></script>

<div class="parent">
    <section class="left-nav">
        <partial name="_Task" />
    </section>
    <section class="right-nav p-0 lsJiJbKJUVsiFNo">
        <!---->
    </section>
</div> 

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/TaskJS.js"></script>