@model IEnumerable<TimeTask.Models.Task2>

@{
    ViewData["Title"] = "Grafik";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
<script src="~/js/tableToExcel.js"></script>
<script src="~/js/jspdf.min.js"></script>
@* <script src="~/js/jspdf.plugin.autotable.js"></script> *@
<script src="https://unpkg.com/jspdf-autotable@3.5.22/dist/jspdf.plugin.autotable.js"></script>

<div class="parent">
    <section class="left-nav">
        <partial name="_Task" />
    </section>
    <section class="right-nav p-0 ttbOkNfvCKQgfoH">
       

        @* <a id="dlink" style="display:none;"></a>
        <div class="tableBody">
            <table id="testTable">
                <thead>
                    <tr>
                        <th>Data</th>
                        @foreach (var item in ((IEnumerable<Workers2>)ViewBag.Workers).Where(x => x.DepartmentID == 96))
                        {
                            <th class="header">@item.Surname @item.Name</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 7; i++)
                    {
                        <tr>
                            <td rowspan="3" class="dates">@i (pon.)</td> <!--rowspan zalezny od ilosci taskow-->
                            @foreach (var item in ((IEnumerable<Workers2>)ViewBag.Workers).Where(x => x.DepartmentID == 96))
                            {
                                <td class="hours">08:00 - 16:00</td>
                            }
                        </tr>
                        <!--foreach task-->
                        <tr class="tasks">
                            @foreach (var item in ((IEnumerable<Workers2>)ViewBag.Workers).Where(x => x.DepartmentID == 96))
                            {
                                <td>task 1</td>
                            }
                        </tr>
                        <tr class="tasks">
                            @foreach (var item in ((IEnumerable<Workers2>)ViewBag.Workers).Where(x => x.DepartmentID == 96))
                            {
                                <td>task 2</td>
                            }
                        </tr>

                    }
                </tbody>
            </table>
        </div> *@



    </section>
</div> 

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/TaskJS.js"></script>