@using System.Security.Claims
@model IEnumerable<TimeTask.Models.Task2>

@{
    ViewData["Title"] = "Grafik";

    //userID
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var userID = "";
    if (claimsIdentity != null)
    {
        var userIdClaim = claimsIdentity.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier);
        if (userIdClaim != null)
        {
            userID = userIdClaim.Value;
        }
    }

    var taskSettingsArray = ((IEnumerable<TasksSettings>)ViewBag.TasksSettings).Where(x => x.UserId == userID);
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
<script src="~/js/tableToExcel.js"></script>
<script src="~/js/jspdf.min.js"></script>
@* <script src="~/js/jspdf.plugin.autotable.js"></script> *@
<script src="https://unpkg.com/jspdf-autotable@3.5.22/dist/jspdf.plugin.autotable.js"></script>

<div class="parent">
    <section class="left-nav">
        <partial name="_Task" />
    </section>
    <section class="right-nav p-0 ttbOkNfvCKQgfoH">
        
    </section>
</div> 

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/TaskJS.js"></script>

@if (!taskSettingsArray.Any() || taskSettingsArray.First().WorkScheduleView == 0)
{
    <script>
        drmZhscxvPoxiya(sessionStorage.getItem('LTRXohWjonyFAsg'), sessionStorage.getItem('hQxHXfkxHkfALTJ'), sessionStorage.getItem('JcvzYoovBpGECWh'));
    </script>
}
else
{
    <script>
        ThXhilqYhSiZDrl(sessionStorage.getItem('LTRXohWjonyFAsg'), sessionStorage.getItem('XmRbNRjSsnfRbUN'), sessionStorage.getItem('JcvzYoovBpGECWh'));
    </script>
}
