@{
    ViewData["Title"] = "Index";

    //pierwszy dział
    var firstDepartment = ((IEnumerable<Department>)ViewBag.Departments).OrderBy(x => x.Name).FirstOrDefault()?.Name;
    var firstDepartmentID = ((IEnumerable<Department>)ViewBag.Departments).OrderBy(x => x.Name).FirstOrDefault()?.Id;

    //czy są jakiekolwiek działy
    var departmentsLength = ((IEnumerable<Department>)ViewBag.Departments).Count();
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings");
    </section>
    <section class="right-nav">
        
        <div class="kxOMhDZFzkDb">
            <div class="ECTosDyufuTqvBV">
                
                @if (departmentsLength > 0)
                {
                    <div class="IVnxgCORpPYL ijBuUPWrdXEngvb" id="rJsRgTkikJFkTVs" onclick="nGgUoVSOQmbYyoD()">
                        <ion-icon name="briefcase-outline"></ion-icon>
                        <div class="iNzvwDsTQXDyPIR">
                            <span>@firstDepartment</span>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </div>
                }

            </div>

            @if (departmentsLength > 0)
            {
                <div class="IVnxgCORpPYL ijBuUPWrdXEngvb">
                    <span>Ustawienia dodatkowe np.grafik tygodniowy czy miesieczny</span>
                </div>
                <div class="IVnxgCORpPYL ijBuUPWrdXEngvb">
                    <span>Automatyczne powielanie grafiku</span>
                </div>

                <div class="IVnxgCORpPYL ijBuUPWrdXEngvb" id="MyRfivjxPqfhHQr" onclick="YENAVVQWwo(@firstDepartmentID)">
                    <ion-icon name="add-outline"></ion-icon>
                    <span>Nowe zadanie</span>
                </div>
            }            
        </div>

        <div class="YUPrikbkYzkc"></div>

    </section>
</div>

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/TaskSettingsJS.js"></script>
<script type="text/javascript" src="~/js/sorttable2.js"></script>

<script>
    if (sessionStorage.getItem('dzARvcmubKKEzdq') == null)
    {
        WAknWoEDCgnvjyY(@firstDepartmentID);
    }   
</script>