@{
    ViewData["Title"] = "Index";

    //pierwszy dział
    var firstDepartment = ((IEnumerable<Department>)ViewBag.Departments).OrderBy(x => x.Name).FirstOrDefault()?.Name;
    var firstDepartmentID = ((IEnumerable<Department>)ViewBag.Departments).OrderBy(x => x.Name).FirstOrDefault()?.Id;

    //czy są jakiekolwiek działy
    var departmentsLength = ((IEnumerable<Department>)ViewBag.Departments).Count();
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings");
    </section>
    <section class="right-nav">
        <div class="kxOMhDZFzkDb">
            <div class="ECTosDyufuTqvBV gvkEfATyldCdKLB">
                <a href="@Url.Action("Settings", "Tasks")" class="oZBtnmiLrunDFMC ahGbQKRlkOtlhln MQihtEemnyVHxOa"><span>Zadania (tabela)</span></a>
                <a href="@Url.Action("TasksSettings", "Tasks")" class="oZBtnmiLrunDFMC ahGbQKRlkOtlhln"><span>Ustawienia</span></a>
            </div>

            <div class="ECTosDyufuTqvBV gvkEfATyldCdKLB">
                @if (departmentsLength > 0)
                {
                    <div class="IVnxgCORpPYL ijBuUPWrdXEngvb RlREsSaJYGSFniA" id="MyRfivjxPqfhHQr" onclick="YENAVVQWwo(@firstDepartmentID)" title="Dodaj nowe zadanie">
                        <ion-icon name="add-outline"></ion-icon>
                    </div>

                    <div class="IVnxgCORpPYL ijBuUPWrdXEngvb" id="rJsRgTkikJFkTVs" onclick="nGgUoVSOQmbYyoD()">
                        <ion-icon name="briefcase-outline"></ion-icon>
                        <div class="iNzvwDsTQXDyPIR">
                            <span>@firstDepartment</span>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </div>
                }
            </div>          
        </div>

        <div class="YUPrikbkYzkc" id="YUPrikbkYzkc_"></div>

    </section>
</div>

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/TaskSettingsJS.js"></script>
<script type="text/javascript" src="~/js/sorttable2.js"></script>

<script>
    if (sessionStorage.getItem('dzARvcmubKKEzdq') == null)
    {
        WAknWoEDCgnvjyY(@firstDepartmentID);
    }   
</script>