@using System.Security.Claims
@{
    ViewData["Title"] = "TasksSettings";

    //pierwszy dział
    var firstDepartment = ((IEnumerable<Department>)ViewBag.Departments).OrderBy(x => x.Name).FirstOrDefault()?.Name;
    var firstDepartmentID = ((IEnumerable<Department>)ViewBag.Departments).OrderBy(x => x.Name).FirstOrDefault()?.Id;

    //czy są jakiekolwiek działy
    var departmentsLength = ((IEnumerable<Department>)ViewBag.Departments).Count();

    //userID
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var userID = "";
    if (claimsIdentity != null)
    {
        var userIdClaim = claimsIdentity.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier);
        if (userIdClaim != null)
        {
            userID = userIdClaim.Value;
        }
    }

    var encryptedUserID = TimeTask.Data.Encryption.EncryptionHelper.Encrypt(userID);
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Settings")
    </section>
    <section class="right-nav">
        <div class="kxOMhDZFzkDb yQNvRBYQAhqDuTe">
            <div class="ECTosDyufuTqvBV gvkEfATyldCdKLB">
                <a href="@Url.Action("Settings", "Tasks")" class="oZBtnmiLrunDFMC ahGbQKRlkOtlhln"><span>Zadania (tabela)</span></a>
                <a href="@Url.Action("TasksSettings", "Tasks")" class="oZBtnmiLrunDFMC ahGbQKRlkOtlhln MQihtEemnyVHxOa"><span>Ustawienia</span></a>
            </div>
        </div>

        <div class="YUPrikbkYzkc">
            <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Ustawienia główne</span>
                <div class="msdgExEZCpefgcL">
                    <span>Widok grafiku:</span>
                    <select class="form-control PpUlJWeIciRKSTQ" id="DGSWGCQnhgXKmAe_" onchange="DGSWGCQnhgXKmAe('@encryptedUserID')">
                        <option>Tygodniowy (domyślny)</option>
                        <option>Miesięczny</option>
                    </select>
                </div>
                <div class="msdgExEZCpefgcL">
                    <span>Pierwszy dzień tygodnia:</span>
                    <select class="form-control PpUlJWeIciRKSTQ">
                        <option>Poniedziałek (domyślny)</option>
                        <option>Niedziela</option>
                    </select>
                </div>
                <div class="msdgExEZCpefgcL">
                    <span>Limit przydzielonych zadań na dzień:</span>
                    <select class="form-control HZDznQEKaNVLIxx">
                        <option>10 (domyślny)</option>
                        @for (int i = 9; i >= 1; i--)
                        {
                            <option>@i</option>
                        }
                    </select>
                </div>
            </div>

            <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Urlopy</span>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            <input type="checkbox" id="" onchange="" />
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span class="hFzZLqJdsEqdlrx">Pokaż urlopy w grafiku</span>
                    </div>
                </div>
            </div>

            <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Święta</span>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            <input type="checkbox" id="" onchange="" />
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span class="hFzZLqJdsEqdlrx">Pokaż święta w grafiku</span>
                    </div>
                </div>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            <input type="checkbox" id="" onchange="" />
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span style="width: 375px;" class="hFzZLqJdsEqdlrx">Zablokuj możliwość dodawania zadań do dni świątecznych</span>
                    </div>
                </div>
            </div>

            <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Prywatność</span>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            <input type="checkbox" id="" onchange="" />
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span class="hFzZLqJdsEqdlrx">Pokazuj tylko inicjały imion i nazwisk w grafikach</span>
                    </div>
                </div>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            <input type="checkbox" id="" onchange="" />
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span class="hFzZLqJdsEqdlrx">Włącz prywatne grafiki (Każdy pracownik będzie widział tylko swój grafik, nie będzie miał wglądu do grafików innych pracowników ze swojego działu)</span>
                        @* <span class="hFzZLqJdsEqdlrx">Pokazuj </span> *@
                    </div>
                </div>
            </div>

            <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Bezpieczeństwo</span>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            <input type="checkbox" id="" onchange="" />
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span class="hFzZLqJdsEqdlrx">Włącz możliwość edycji grafiku przez innych pracowników</span>
                    </div>
                </div>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            <input type="checkbox" id="" onchange="" />
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span class="hFzZLqJdsEqdlrx">Zablokuj możliwość edycji grafiku po określonym czasie</span>
                    </div>
                    <select class="form-control PpUlJWeIciRKSTQ">
                        <option>Tydzień</option>
                        <option>Miesiąc</option>
                        <option>Rok</option>
                    </select>
                </div>
            </div>

            <div class="YavvRCMQscelhIs riqhWBvtFoKacNt KJiwNsHiMAVNLKL">
                <span class="hFzZLqJdsEqdlrx phzshsahNeRSjfT">Inne</span>
                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            <input type="checkbox" id="" onchange="" />
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span style="width: 254px;" class="hFzZLqJdsEqdlrx">Automatyczne powielanie grafiku</span>
                    </div>

                    @* <select class="form-control ZRqsTiEveySPXEn" style="margin-right: 20px;">
                    <option>co tydzień</option>
                    <option>co miesiąc</option>             zależnie od tego czy grafik jest tygodniowy czy miesięczny
                    </select> *@

                    <div class="VjYAEBHWVZOOXnf">
                        <span>Rozpocznij od dnia:</span>
                        <input class="form-control" type="date" id="DBuHyqhLORsufUq" />
                    </div>
                </div>

                <div class="msdgExEZCpefgcL">
                    <div>
                        <label class="FdcnMtAlziKwEep">
                            <input type="checkbox" id="" onchange="" />
                            <span class="HsRFJWiSLmrJcoG xHKISVUdAfxZoPT"></span>
                        </label>
                        <span style="width: 254px;" class="hFzZLqJdsEqdlrx">Automatyczne pobieranie grafiku (raczej Włącz przypomnienie o pobraniu grafiku)</span>
                    </div>
                    <div class="VjYAEBHWVZOOXnf">
                        <span>Rozpocznij od dnia:</span>
                        <input class="form-control ZRqsTiEveySPXEn" type="date" id="DBuHyqhLORsufUq" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript" src="~/js/TaskSettingsJS.js"></script>
<script type="text/javascript" src="~/js/sorttable2.js"></script>