@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

@*<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
*@

<div class="parent">
    <section class="right-nav right-nav-fix">
        <form class="form_2" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <div class="form-group uwkkiQswLEzRtjM">
                <span class="lpvkxYGkWpuAQSj">Użytkownik został wylogowany</span>
                <button type="submit" class="btn-custom">Powrót do strony logowania</button>
            </div>
        </form>
    </section>
</div>