@model TimeTask.Models.Time

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Time</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WorkerID" class="control-label"></label>
                <input asp-for="WorkerID" class="form-control" />
                <span asp-validation-for="WorkerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enter" class="control-label"></label>
                <input asp-for="Enter" class="form-control" />
                <span asp-validation-for="Enter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exit" class="control-label"></label>
                <input asp-for="Exit" class="form-control" />
                <span asp-validation-for="Exit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveID" class="control-label"></label>
                <input asp-for="LeaveID" class="form-control" />
                <span asp-validation-for="LeaveID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveDate" class="control-label"></label>
                <input asp-for="LeaveDate" class="form-control" />
                <span asp-validation-for="LeaveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
