@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<TimeTask.Models.Time>
@using Newtonsoft.Json

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />

<div class="parent">
    <section class="left-nav">
        @Html.Partial("_Leave")
    </section>
    <section class="right-nav p-0">
        @*<div class="calendar_" id="calendar_id">
            <div class="month_">
                <div class="weekdays_">
                    <div>Pon</div>
                    <div>Wto</div>
                    <div>Śro</div>
                    <div>Czw</div>
                    <div>Pią</div>
                    <div>Sob</div>
                    <div>Nie</div>
                </div>
                <div class="days_"></div>
            </div>
        </div>*@

        <div class="SxyrJvNcldodWTh" id="xBuYErAxrbdvwoP">
            @*@{
                //string s = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthNames[i];
                int days
            }*@
            @*<div class="dykKoaHBFtTPjlK"></div>*@
        </div>
    </section>
</div>

<div id="KYZGriDIsqNJRxr" class="pGKcZvErUB" style="display: none;">
    <form class="form_">
        <div class="form-group">
            <label>Wybierz urlop:</label>
            <select class="form-control bYwPpsleuVCBkPv" id="HvZxXypLRxeRXCo">
                @foreach (var item in ((IEnumerable<Leave4>)ViewBag.Leave).OrderBy(x => x.Name).Select(x => x.Name).Distinct())
                {
                    <option>@item</option>
                } 
            </select>
        </div>
        <div class="form-group">
            <select class="form-control bYwPpsleuVCBkPv " id="dFiioMzmTCjjcWp"></select> <!--fdjtgOVkxlRqfDM-->
        </div>
        <div class="form-group">
            <label>od dnia:</label>
            <input class="form-control" type="date" id="OYRMUMzpHRsooyI" />
        </div>
        <div class="form-group form-group-margin">
            <label>do dnia:</label>
            <input class="form-control" type="date" id="tyONXYuOELdPoLh" />
        </div>
        <div class="form-group">
            <input type="button" value="Zapisz" class="btn-custom" id="JTgCvImoJEyzGux" />
        </div>
        <div class="form-group">
            <input type="button" value="Wróć" class="btn-custom_" id="ttGSoqUHUjOErnf" />
        </div>
    </form>
</div>

<script type="text/javascript">
    var model_h = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Holiday));
    var model_l = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Leave));
</script>

<script src="~/js/LeaveJS.js"></script>