html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(36, 110, 142, 0.7);
    border: none;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

html {
    position: relative;
    min-height: 100%;
    /*background: url(https://wallpaperbat.com/img/70483-island-night-ultra-hd-desktop-background-wallpaper-for-4k-uhd-tv.jpg) no-repeat fixed center;*/
    background: url(img/night-island-scenery-macos-wallpaper-1920x1200_6.jpg) no-repeat fixed center;
    background-size: cover;
    background-color: black;

}

body {
    /*margin-bottom: 60px;*/
    background-color: transparent;
    /*background: url(https://wallpaperbat.com/img/70483-island-night-ultra-hd-desktop-background-wallpaper-for-4k-uhd-tv.jpg) no-repeat fixed center;*/
    background: url(img/night-island-scenery-macos-wallpaper-1920x1200_6.jpg) no-repeat fixed center;
    background-size: cover;
}

.container {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh !important;
}

a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    user-select: none;
}

    a:hover {
        color: white;
    }

span {
    user-select: none;
}

p {
    user-select: none;
}

.h {
    width: 100%;
    height: 10px;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    user-select: none;
    font-family: Arial;
}

.parent {
    /*border-radius: 10px;*/
    background-color: rgba(0, 0, 0, 0.4);
    height: 93vh;
    width: 97vw;
    display: flex;
    justify-content: left;
    backdrop-filter: blur(3px);
}

.left-nav {
    /*width: 20vw;*/
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    overflow-y: auto;
    padding: 25px 25px 0 25px
}

.right-nav {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /*border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;*/
    padding: 25px;
}

.left-nav a:first-child {
    display: flex;
    gap: 7px;
    align-items: center;
    height: 32px;
    margin-bottom: 35px;
    /*margin-left: 25px;*/
    /*padding: 25px;*/
}

    .left-nav a:first-child:hover {
        opacity: 0.8;
    }

    .left-nav a:first-child svg {
        fill: white;
    }

    .left-nav a:first-child span {
        font-size: 17px;
        margin-top: 5px;
        font-weight: bold;
    }

.left-nav button {
    display: flex;
    gap: 8px;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.2s;
    transform: translateX(-5px);
}

    .left-nav button span {
        font-size: 14px;
    }

    .left-nav button:hover {
        color: rgba(255, 255, 255, 0.9);
        transition: color 0.2s;
    }

        .left-nav button:hover svg {
            fill: rgba(255, 255, 255, 0.9);
            transition: fill 0.2s;
        }

    .left-nav button svg {
        fill: rgba(255, 255, 255, 0.7);
        transition: fill 0.2s;
    }

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

    .search button span {
        font-size: 14px;
    }

    .search:nth-child(2) {
        color: rgba(255, 255, 255, 0.4);
        font-size: 13px;
    }

    /*.search button:disabled span {
        color: rgba(255, 255, 255, 0.4);
    }

    .search button:disabled svg {
        fill: rgba(255, 255, 255, 0.4);
    }*/

    .search button:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

.departmentTasks {
    margin-bottom: 10px;
}

    .departmentTasks button span {
        transform: translateY(-1px);
    }

    /*.departmentTasks button:disabled span {
        color: rgba(255, 255, 255, 0.4);
    }

    .departmentTasks button:disabled svg {
        fill: rgba(255, 255, 255, 0.4);
    }*/

    .departmentTasks button:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

.vacation {
    margin-bottom: 10px;
}

    /*.vacation button:disabled span {
        color: rgba(255, 255, 255, 0.4);
    }

    .vacation button:disabled svg {
        fill: rgba(255, 255, 255, 0.4);
    }*/

    .vacation button:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

.workingTime {
    margin-bottom: 35px;
}

    /*.workingTime button:disabled span {
        color: rgba(255, 255, 255, 0.4);
    }

    .workingTime button:disabled svg {
        fill: rgba(255, 255, 255, 0.4);
    }*/

    .workingTime button:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

.departmentsSpan {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}

.departments {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

    .departments a {
        display: flex;
        align-items: center;
        gap: 8px;
    }

        .departments a span {
            color: rgba(255, 255, 255, 0.7);
            font-weight: normal;
            font-size: 14px;
            transition: color 0.2s;
        }

        .departments a svg {
            fill: rgba(255, 255, 255, 0.7);
            transition: fill 0.2s;
        }

        .departments a:hover span {
            color: rgba(255, 255, 255, 0.9) !important;
            transition: color 0.2s;
        }

        .departments a:hover svg {
            fill: rgba(255, 255, 255, 0.9);
            transition: fill 0.2s;
        }

    /*.departments button:disabled span {
        color: rgba(255, 255, 255, 0.4);
    }

    .departments button:disabled svg {
        fill: rgba(255, 255, 255, 0.4);
    }*/

    .departments button:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

.departments_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.departments__ {
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    flex-direction: column;
    /*gap: 10px;*/
    gap: 8px;
}

    .departments__ a svg {
        fill: rgba(255, 255, 255, 0.6);
    }

    .departments__ button {
        /*margin-bottom: 8px;*/
    }

    .departments__ a {
        margin-left: 10px;
    }

    .departments__ a:last-child {
        /*margin-bottom: 8px;*/
    }

.departments__worker {
    margin-left: 20px !important;
}

.departments__a {
    margin-top: 1px;
}

.addDepart {
    display: flex;
    align-items: center;
}

    .addDepart span {
        margin: 0 !important;
        padding: 0 !important;
        color: rgba(255, 255, 255, 1) !important;
        font-weight: normal !important;
        font-size: 14px !important;
        transition: none !important;
    }

    .addDepart svg {
        fill: rgba(255, 255, 255, 1) !important;
        transition: none !important;
    }

    .addDepart:hover span {
        transition: none !important;
    }

    .addDepart:hover svg {
        transition: none !important;
    }


