html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(36, 110, 142, 0.7);
    border: none;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

/* loader */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
}

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        /*width: 64px;
        height: 64px;*/
        width: 45px;
        height: 45px;
        /*border: 8px solid #fff;*/
        border: 5px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
    }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    position: fixed;
    z-index: 10000;
    right: 15px;
    top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}
/**/

html {
    position: relative;
    min-height: 100%;
    background: url(img/night-island-scenery-macos-wallpaper-1920x1200_6.jpg) no-repeat fixed center;
    background-size: cover;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    /*margin-bottom: 60px;*/
    background-color: transparent;
    /*background: url(img/night-island-scenery-macos-wallpaper-1920x1200_6.jpg) no-repeat fixed center;
    background-size: cover;*/
    background-image: none;
}

.container {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh !important;
}

a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    user-select: none;
}

    a:hover {
        color: white;
    }

span {
    user-select: none;
}

p {
    user-select: none;
}

.h {
    width: 100%;
    height: 10px;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    user-select: none;
    font-family: Arial;
}

.parent {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 94vh;
    width: 97vw;
    display: flex;
    justify-content: left;
    backdrop-filter: blur(3px);
}

.left-nav {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    /*padding: 25px 25px 0 25px;*/
    /*overflow-y: auto;*/
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
    transition: min-width 0.75s, max-width 0.75s, width 0.75s;

    
}


.IdRKPExyAQSewBL {
    overflow-y: auto;
    /*height: 86.4vh;*/
    height: calc(100% - 80px);
    padding: 25px 25px 0 25px;
    --mask: linear-gradient(to bottom, rgba(0,0,0, 1) 0, rgba(0,0,0, 1) 50%, rgba(0,0,0, 1) 70%, rgba(0,0,0, 1) 95%, rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0 ) 100% 50% / 100% 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    scrollbar-color: rgba(36, 110, 142, 0.7) transparent;
    scrollbar-width: thin;
}

.right-nav {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 25px;
    transition: border-top-left-radius 1s, border-bottom-left-radius 1s;
}

#info {
    position: fixed;
    /*right: 15px;
    bottom: 15px;*/
    right: 99999px;
    bottom: 99999px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.7);
}

.user {
    height: 80px;
    min-height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-shadow: 0px -18px 22px -22px rgba(100, 100, 100, 1);
    -moz-box-shadow: 0px -18px 22px -22px rgba(100, 100, 100, 1);
    box-shadow: 0px -18px 22px -22px rgba(100, 100, 100, 1);
    gap: 10px; 
    padding: 0 25px 0 25px;
    min-width: 300px;
    max-width: 300px;
    width: 300px;
}

.userDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;
    width: 150px;
}

    .userDiv a:first-child {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.5);
        pointer-events: none;
        letter-spacing: 0.025em;
    }

    .userDiv a:nth-child(2) {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
    }

        .userDiv a:nth-child(2):hover {
            color: rgba(255, 255, 255, 1);
        }


.userFirstA svg {
    fill: rgba(255, 255, 255, 0.7);
    transform: translateY(4px);
}

.userFirstA:hover svg {
    fill: rgba(255, 255, 255, 0.8);
}

.logOut a svg {
    fill: rgba(255, 255, 255, 0.5);
}

.logOut a:hover svg {
    fill: rgba(255, 255, 255, 0.7);
}

.logOut input {
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: -999999px;
    left: -999999px;
}

#logInClick {
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: -999999px;
    left: -999999px;
}

.left-nav .home {
    display: flex;
    gap: 7px;
    align-items: center;
    height: 32px;
    /*margin-bottom: 35px;*/
    margin-bottom: 25px;
}

    .left-nav .home:hover {
        opacity: 0.8;
    }

    .left-nav .home svg {
        fill: white;
    }

    .left-nav .home span {
        font-size: 17px;
        margin-top: 5px;
        font-weight: bold;
    }

.left-nav button {
    display: flex;
    gap: 8px;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.2s;
    transform: translateX(-5px);
}

    .left-nav button span {
        font-size: 14px;
    }

    .left-nav button:hover {
        color: rgba(255, 255, 255, 0.9);
        transition: color 0.2s;
    }

        .left-nav button:hover svg {
            fill: rgba(255, 255, 255, 0.9);
            transition: fill 0.2s;
        }

    .left-nav button svg {
        fill: rgba(255, 255, 255, 0.7);
        transition: fill 0.2s;
    }

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

    .search button span {
        font-size: 14px;
    }

.searchSpan {
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
}
    .search button:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

.departmentTasks {
    margin-bottom: 10px;
}

    .departmentTasks button span {
        transform: translateY(-1px);
    }

    .departmentTasks button:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

.vacation {
    margin-bottom: 10px;
}

    .vacation button:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

.workingTime {
    margin-bottom: 25px;
}

    .workingTime button:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

.departmentsSpan {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}

.departments {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

    .departments a {
        display: flex;
        align-items: center;
        gap: 5px;
    }

        .departments a span {
            color: rgba(255, 255, 255, 0.7);
            font-weight: normal;
            font-size: 14px;
            transition: color 0.2s;
        }

        .departments a svg {
            fill: rgba(255, 255, 255, 0.7);
            transition: fill 0.2s;
        }

        .departments a:hover span {
            color: rgba(255, 255, 255, 0.9) !important;
            transition: color 0.2s;
        }

        .departments a:hover svg {
            fill: rgba(255, 255, 255, 0.9);
            transition: fill 0.2s;
        }

    /*.departments button:disabled span {
        color: rgba(255, 255, 255, 0.4);
    }

    .departments button:disabled svg {
        fill: rgba(255, 255, 255, 0.4);
    }*/

    .departments button:disabled {
        opacity: 0.6;
        pointer-events: none;
    }

.departments_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.departments__ {
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    flex-direction: column;
    /*gap: 10px;*/
    gap: 8px;
}

    .departments__ a svg {
        fill: rgba(255, 255, 255, 0.6);
    }

    .departments__ button {
        /*margin-bottom: 8px;*/
    }

    .departments__ a {
        margin-left: 10px;
    }

    .departments__ a:last-child {
        /*margin-bottom: 8px;*/
    }

.departments__worker {
    margin-left: 20px !important;
}

.departments__a {
    margin-top: 1px;
}

.addDepart {
    display: flex;
    align-items: center;
}

    .addDepart span {
        margin: 0 !important;
        padding: 0 !important;
        color: rgba(255, 255, 255, 1) !important;
        font-weight: normal !important;
        font-size: 14px !important;
        transition: none !important;
    }

    .addDepart svg {
        fill: rgba(255, 255, 255, 1) !important;
        transition: none !important;
    }

    .addDepart:hover span {
        transition: none !important;
    }

    .addDepart:hover svg {
        transition: none !important;
    }


