.right-nav.right-nav-fix {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 275px;
    font-size: 14px;
    background-color: rgba(34, 36, 48, 1);
    border-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.8) !important;
    /*border-radius: 3px;*/
    transition: 0s;
    -moz-appearance: button-arrow-down;
    -webkit-appearance: auto;
    appearance: menulist;
    /**/
    
    
}

    .form-control:focus {
        /*background-color: transparent;*/
        background-color: rgba(34, 36, 48, 1);
        border-color: rgba(255, 255, 255, 0.6);
    }

    .form-control.sCnCesXdXjqdcnF {
        width: 130px;
        text-align: center;
    }

    .form-control.BJImLBuxjZWNKEI {
        width: auto;
    }

    .form-control:disabled {
        background-color: rgba(34, 36, 48, 1);
        color: rgba(255, 255, 255, 0.5) !important;
    }

    .form-control.zyMjnkiLNtYlAAW {
        border-color: rgba(255, 255, 255, 0.2);
        width: 100%;
    }

    .form-control.SHnDWPzuoAGGIwU {
        border-color: #ff471a;
    }

    .form-control.DnSGyEINFwTACsK {
        width: 70px;
        text-align: right;
    }

    .form-control.BdeTMrFhVdXURgF {
        height: 35px;
        width: 200px;
        /*cursor: pointer;*/
    }

        .form-control.BdeTMrFhVdXURgF.BdeTMrFhVdXURgF_ {
            cursor: default;
        }

        .form-control.BdeTMrFhVdXURgF.raZYoDOYNwjFDKk {
            border-color: transparent;
        }

.form-floating.CvFOfCxRqEKEFvM {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

    .form-floating.CvFOfCxRqEKEFvM label {
        margin-left: 30px;
    }

.btn-custom {
    width: 275px;
    font-family: Arial;
    font-size: 13px;
    background-color: rgba(36, 110, 142, 0.6);
    border: none;
    height: 35px;
    min-height: 35px;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .btn-custom:hover {
        background-color: rgba(36, 110, 142, 0.7);
        cursor: pointer;
    }

    .btn-custom.QBiQxdGMSxadTWR {
        width: 350px;
    }

    .btn-custom.SbabZsPDOmgXKxs {
        pointer-events: none;
        background-color: rgba(153, 153, 153, 0.4);
    }

    .btn-custom:disabled {
        pointer-events: none;
        background-color: rgba(153, 153, 153, 0.4);
    }

    .btn-custom.lzfsobbQnDmfjba {
        pointer-events: none;
        background-color: transparent;
        /*border: 1px solid rgba(255, 255, 255, 0.1);*/
    }

.btn-custom_ {
    width: 275px;
    font-family: Arial;
    font-size: 13px;
    background-color: rgba(212, 115, 115, 0.6);
    border: none;
    height: 35px;
    min-height: 35px;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .btn-custom_:hover {
        background-color: rgba(212, 115, 115, 0.7);
        cursor: pointer;
    }

    .btn-custom_.QBiQxdGMSxadTWR {
        width: 350px;
        cursor: pointer;
    }

.control-label {
    color: rgba(255, 255, 255, 0.8);
    font-family: Arial;
    font-size: 13px;
    user-select: none;
}

form:not(.logOut) {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(34, 36, 48, 0.5);
    backdrop-filter: blur(5px);
    width: 370px;
    min-height: 278px;
    /*border-radius: 8px;*/
    padding-top: 50px;
    padding-bottom: 50px;
    /*border: 1px solid rgba(255, 255, 255, 0.1);*/
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.6);
}

    form:not(.logOut).ZOVrPTgSspFJBET {
        background-color: rgba(34, 36, 48, 0.3);
        width: 100%;
        min-height: 250px;
        max-height: 250px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: unset;

    }

    form:not(.logOut).bSaEpYjaUnwwExg {
        background-color: rgba(34, 36, 48, 0.3);
        width: 100%;
        height: auto;
        min-height: 100px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: unset;
    }

    form:not(.logOut).mcplGLYbKYUWdZP {
        padding-top: 55px;
        padding-bottom: 55px;
    }

.DhOaDlrUqJcgIUx {
    margin-bottom: 25px;
}

form.form_ {
    /*height: 320px;*/
}

    form.form_.form__ {
        /*max-height: 577px;
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-color: rgba(36, 110, 142, 0.7) transparent;
        scrollbar-width: thin;*/
    }

    form.form_.form___ {
        /*max-height: 605px;
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-color: rgba(36, 110, 142, 0.7) transparent;
        scrollbar-width: thin;*/
    }

form.form_2 {
    /*height: 340px;*/
}

form.form_3 {
    /*height: 400px;*/
    
}

/*form.form_0 {
    background-color: transparent;
    box-shadow: none;

}*/

.form-group.uwkkiQswLEzRtjM {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

    .form-group.uwkkiQswLEzRtjM .lpvkxYGkWpuAQSj {
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
    }

    .form-group select {
        -moz-appearance: button-arrow-down;
        -webkit-appearance: auto;
        appearance: menulist;
        cursor: pointer;
        
    }

    .form-group input.SSwvVHQbXDMTOIM {
        /*background-color: rgba(24, 26, 38, 1) !important;*/
    }

    .form-group input.SSwvVHQbXDMTOIM:read-only {
        background-color: rgba(24, 26, 38, 1) !important;
        /*background-color: rgba(14, 16, 28, 1) !important;*/
    }

    .form-group textarea {
        /*background-color: rgba(34, 36, 48, 1) !important;*/
        max-height: 200px;
        height: 100px;
    }

    .form-group textarea:read-only {
        background-color: rgba(24, 26, 38, 1) !important;
        /*background-color: rgba(14, 16, 28, 1) !important;*/
    }

    .form-group.bKQpZIoPOmwNvbh {
        transform: translateY(25px);
    }

        .form-group.bKQpZIoPOmwNvbh span.vfxLVmwjkBogmPm {
            color: white;
            font-size: 16px;
        }

.form-group-margin {
    margin-bottom: 10px;
}

.form-group2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.right-nav-forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .right-nav-forms form:nth-child(2) {
        /*height: 90px;*/
        display: flex;
        /*flex-direction: row;*/
    }

    .right-nav-forms form span {
        color: rgba(255, 255, 255, 0.8);
        font-family: Arial;
        font-size: 13px;
    }

.btn-danger-div {
    display: flex;
    flex-direction: row;
    gap: 20px;

    /*position: absolute;
    margin-top: 28px;*/
}

    .btn-danger-div input {
        /*width: 115px;*/
        width: 275px;
        font-family: Arial;
        font-size: 13px;
        height: 35px;
        color: rgba(255, 255, 255, 0.8);
        border-radius: 3px;
        font-weight: bold;
    }

        .btn-danger-div input:first-child {
            border: 1px solid rgba(255, 255, 255, 0.3);
            /*border: none;*/
            background-color: rgba(212, 9, 9, 0.6);
        }

            .btn-danger-div input:first-child:hover {
                background-color: rgba(212, 9, 9, 0.8);
            }

            .btn-danger-div input:first-child:disabled {
                background-color: rgba(85, 85, 85, 0.8);
            }

        /*.btn-danger-div input:nth-child(2) {
            border: 1px solid rgba(255, 255, 255, 0.4);
            background-color: rgba(9, 112, 9, 0.8);
        }

            .btn-danger-div input:nth-child(2):hover {
                background-color: rgba(9, 132, 9, 0.8);
            }*/

.btn-danger-custom {
    width: 275px;
    font-family: Arial;
    font-size: 13px;
    background-color: rgba(212, 9, 9, 0.6);
    /*border: 1px solid rgba(255, 255, 255, 0.4);*/
    border: none;
    height: 35px;
    color: rgba(255, 255, 255, 0.8);
    /*border-radius: 3px;*/
}

    .btn-danger-custom:hover {
        background-color: rgba(212, 9, 9, 0.8);
    }

    /*.btn-danger-custom:disabled {
        background-color: rgba(85, 85, 85, 0.8);
    }*/

.nknRtrdeAeIX {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

.uxgwrznm185b option {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(34, 36, 48, 0.9);
}

.jbiihcodqinw {
    height: 200px;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    transform: translateY(-1px);
    box-shadow: none !important;
}

    input[type=checkbox]:checked {
        /*background-color: rgba(9, 9, 112, 0.4);*/
        border: none;
        background-color: rgba(36, 110, 142, 1);
    }

label {
    color: rgba(255, 255, 255, 0.8);
    /*font-family: Arial;*/
    font-size: 12px;
    user-select: none;
    display: flex;
    gap: 4px;
    margin-bottom: 2px;
    margin-left: 1px;
}

.form-control.dGNCykvGtQxbazH {
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    /*border-bottom-color: transparent;*/
}

.eshTOvdrdlbtIkg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /*margin-top: 8px;*/
    background-color: rgba(34, 36, 48, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    height: 35px;
    width: 275px;
    border-top-color: transparent;
    border-start-end-radius: 0px;
    border-start-start-radius: 0px;
    padding-bottom: 2px;
}

    .eshTOvdrdlbtIkg label {
        color: rgba(255, 255, 255, 0.8);
        font-size: 13px;
        transform: translateY(2px);
        display: inherit;
        align-items: center;
    }

    /*.eshTOvdrdlbtIkg label.flYuCaWkWLvKDYr {
        opacity: 0.5;
    }*/

    /*.eshTOvdrdlbtIkg label input[type=checkbox] {
        transform: translateY(1px);
    }*/

    .eshTOvdrdlbtIkg.ReGRsMTgIomMFGD {
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 3px;
    }


/*.slqxLxrESFgpZjA {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(34, 36, 48, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    height: 35px;
    width: 275px;
    border-top-color: transparent;
    border-start-end-radius: 0px;
    border-start-start-radius: 0px;
}

    .slqxLxrESFgpZjA label.flYuCaWkWLvKDYr {
        opacity: 0.5;
    }

    .slqxLxrESFgpZjA label input {
        transform: translateY(3px);
    }*/

.jwvLslukUqESfdP {
    background-color: rgba(34, 36, 48, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    height: 35px;
    width: 275px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 12px;
}

    .jwvLslukUqESfdP span {
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        /*font-family: Arial, Helvetica, sans-serif;*/
    }

        /*.jwvLslukUqESfdP span.flYuCaWkWLvKDYr {
            opacity: 0.5;
        }*/

.fdjtgOVkxlRqfDM { /*disabled*/
    opacity: 0.5;
    pointer-events: none;
}

.EGRzqdMqFGbncKx {
    position: absolute;
    transform: translateY(24px) translateX(-27px);
}

    .EGRzqdMqFGbncKx path {
        fill: rgba(255, 255, 255, 0.8);
    }

.YjkkjeNTfcoaTKV {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    /*border: 1px solid rgba(255, 255, 255, 0.2);*/
    background-color: rgba(34, 36, 48, 1);
}

    .YjkkjeNTfcoaTKV:hover {
        background-color: rgba(255, 255, 255, 0.15);
        cursor: pointer;
    }

    .YjkkjeNTfcoaTKV.xPLaPJesAjcxiqJ {
        background-color: rgba(255, 255, 255, 0.25);
    }

.lNtafEivzgxCGEt {
    display: flex;
    /*flex-direction: column;*/
    /*border-radius: 8px;*/
    gap: 5px;
    position: absolute;
    /*top: 45px;
    left: 5px;*/
    top: 7px;
    left: 47px;
    width: auto;
}

.ZowjxyOWQjRdLqf {
    background-color: rgba(34, 36, 48, 1);
    border-radius: 5px;
    /*width: auto;*/
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /*border: 1px solid rgba(255, 255, 255, 0.2);*/
}

    .ZowjxyOWQjRdLqf svg {
        fill: rgba(255, 255, 255, 0.8);
    }

    .ZowjxyOWQjRdLqf span {
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
    }

    .ZowjxyOWQjRdLqf:hover {
        background-color: rgba(54, 56, 68, 1);
        cursor: pointer;
    }

    .ZowjxyOWQjRdLqf.MAPQjnLFJnlRyhu {
        background-color: rgba(36, 110, 142, 0.7);
    }

