@model IEnumerable<TimeTask.Models.Statistics>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site_form.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery-ui.min.js"></script>

<div class="parent">
    <section class="left-nav">
        <partial name="_Statistics" />
    </section>
    <section class="right-nav RRoFiIClIdLQJJD">
        <div class="GobmBwqqBbAsPaX">
            <div onclick="piQGwnkhyVDjpuD(this)" title="Widok poziomy" id="piQGwnkhyVDjpuD_">
                <svg fill="rgba(255, 255, 255, 0.8)" width="27" height="27" viewBox="0 0 16 16"><path d="m4 3v2h11v-2zm0 6h7v-2h-7zm0 4h4v-2h-4zm-3 2h1.4v-14h-1.4z"></path></svg>
                <input type="radio" name="widok" id="relrPYFTLYqMaqt" style="display: none;" />
            </div>
            <div onclick="fZyjOJhrSKbOWIT(this)" title="Widok pionowy" id="fZyjOJhrSKbOWIT_">
                <svg fill="rgba(255, 255, 255, 0.8)" width="25" height="25" viewBox="0 0 331.367 331.367"><g><rect x="7.493" y="123.825" width="68.682" height="207.542" /><rect x="131.351" y="0" width="68.67" height="331.367" /><rect x="255.198" y="123.825" width="68.676" height="207.542" /></g></svg>
                <input type="radio" name="widok" id="qDXIOKGzpBOMvoB" style="display: none;" />
            </div>
        </div>


        <div class="DwElCJjoDUWbsnV">
            @*<div class="XxmPCNwZkVSMeOm"></div>*@
            <div class="imAZBCksRVUuDsR">
                <!--słupki-->
                <div class="yTKpwuaIyVAZjYk" id="yTKpwuaIyVAZjYk_">
                    <!---->
                </div>
                <!--nazwy dni, dni miesiąca-->
                <div class="KjseMRiNyEJWtCR" id="KjseMRiNyEJWtCR_">
                    <!---->
                </div>
            </div>
        </div>


    </section>
</div>

<script type="text/javascript">
    var model_w = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Workers));
    var model_h = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Holiday));
    var model_ts = @Html.Raw(JsonConvert.SerializeObject(ViewBag.TimeSetting));
    var model_t = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Time));

    $(document).ready(function ()
    {
        $('.loader_div').fadeOut(200);
    });
</script>

<script src="~/js/site.js"></script>
<script src="~/js/Statistics.js"></script>