@model TimeTask.Models.Task2

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Task2</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkerID" class="control-label"></label>
                <input asp-for="WorkerID" class="form-control" />
                <span asp-validation-for="WorkerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskNameID" class="control-label"></label>
                <input asp-for="TaskNameID" class="form-control" />
                <span asp-validation-for="TaskNameID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobStart" class="control-label"></label>
                <input asp-for="JobStart" class="form-control" />
                <span asp-validation-for="JobStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobEnd" class="control-label"></label>
                <input asp-for="JobEnd" class="form-control" />
                <span asp-validation-for="JobEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
